<main>
  <h1>Projects</h1>
  <article *ngFor="let project of projects">
    <header>
      <h2>{{ project.title }}</h2>
      <p>{{ project.year }}</p>
    </header>
    <section>
      <div>
        <h3>DIR:</h3>
        <p>{{ project.director }}</p>
      </div>
      <div>
        <h3>DOP:</h3>
        <p>{{ project.dop }}</p>
      </div>
    </section>
    <section>
      <figure><img [src]="project.img" alt="Project image" /></figure>
      <div>
        <p>{{ project.category }}</p>
        <a [href]="project.trailerUrl" target="_blank">Watch trailer</a>
      </div>
    </section>
  </article>
</main>
