<main>
  <h1>Projects</h1>
  <article>
    <header>
      <h2>Project title</h2>
      <p>Project year</p>
    </header>
    <section>
      <div>
        <h3>DIR:</h3>
        <p>Directors of project</p>
      </div>
      <div>
        <h3>DOP:</h3>
        <p>Director of photography</p>
      </div>
    </section>
    <section>
      <figure><img src="" alt="Project image" /></figure>
      <div>
        <p>Category</p>
        <a href="">Watch trailer</a>
      </div>
    </section>
  </article>
</main>
