main {
  /* background-color: var(--dark); */
  background-color: red;
  width: calc(100vw - 12rem);
  height: calc(100vh - 12rem);
  color: var(--light);
  font-variation-settings: "wgth" 100;
}

h1 {
  font-variation-settings: "wght" 100;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-variation-settings: "wght" 100;
  padding: 1rem 0;
}

article {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

header {
  border-top: 1px solid var(--light);

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.project-details div {
  display: flex;
}
.project-details div h3 {
  width: 8rem;
  letter-spacing: 1px;
}
