<main>
  <header>
    <!-- TODO: Hacer que el h1 sea un breadcrumb -->
    <h1>Projects / Trailer</h1>
    <!-- TODO: Convertir el "Close" en un icono bien grande para cerrar -->
    <button>
      <span class="cdk-visually-hidden" (click)="close()">Close</span>
    </button>
  </header>

  <article>
    <section class="trailer-container">
      <iframe
        width="260"
        height="315"
        [src]="sanitizedVideoUrl"
        frameborder="0"
        allowfullscreen
      >
      </iframe>
    </section>

    <section>
      <header>
        <h2>{{ project.title }}</h2>
        <p>{{ project.year }}</p>
      </header>
    </section>

    <section class="project-details">
      <div>
        <h3>DIR:</h3>
        <p>{{ project.director }}</p>
      </div>
      <div>
        <h3>DOP:</h3>
        <p>{{ project.dop }}</p>
      </div>
    </section>
  </article>
</main>
