main {
  background-color: var(--dark);
  width: calc(100vw - 8rem);
  height: calc(100vh - 8rem);
  color: var(--light);
  font-variation-settings: "wgth" 100;
  display: flex;
  flex-direction: column;
}

h1 {
  font-variation-settings: "wght" 100;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-variation-settings: "wght" 100;
  padding: 1rem 0;
}

article {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 90%;
}

header {
  border-top: 1px solid var(--light);
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}

.trailer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.trailer-container iframe {
  width: 100%;
}

.project-details div {
  display: flex;
}
.project-details div h3 {
  width: 8rem;
  letter-spacing: 1px;
}
