<!-- Breadcrumb -->
<header>
  <nav aria-label="Breadcrumbs" class="breadcrumbs">
    <p>Proyectos / El otro lado</p>
    <button class="icon-button" (click)="closeButton($event)">
      <i class="material-symbols-outlined"> close </i>
    </button>
  </nav>
</header>

<!-- Vídeo con el trailer -->
<!-- TODO: Para hacer cuando tenga los datos verdaderos -->
<video>
  <source src="{{ project?.trailerUrl }}" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<!-- Descripción del proyecto -->
<article class="project-info">
  <section class="title">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.year }}</p>
  </section>

  <section class="basic-info">
    <ul>
      <li>
        <span>DIR:</span>
        <span class="col-right">{{ project?.director }}</span>
      </li>
      <li>
        <span>DOP:</span>
        <span class="col-right">{{ project?.DOP }}</span>
      </li>
      <li>
        <span>Genre</span>
        <span class="col-right">{{ project?.genre }}</span>
      </li>
    </ul>
  </section>

  <section class="imdb">
    <a href="{{ project?.imdbUrl }}">ImDB</a>
  </section>
</article>
