.overlay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.big-text {
  font-family: "Jersey 10", sans-serif;
  font-size: 6rem;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 0.2cap;
}

.restart-button {
  background-image: url(../../../../assets/images/restart.png);
  width: 22px;
  height: 20px;
}
