@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

.overlay-container,
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay {
  flex-direction: column;
}

.start-button,
.reiniciar-button {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color: var(--accent);
  padding: 0 3rem;
}
