.game {
  /* background-color: #f0f0f0; */
  width: 100%;
  height: 200px;
  border: 1px solid #fd8a66;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.score {
  font-family: "Jersey 10", sans-serif;
  font-size: 3.5rem;
  color: var(--accent);
  position: absolute;
  right: 10px;
}

.igor {
  width: 60px;
  height: 101px;
  background: url(../../../../assets/images/igor-frames.png) repeat-x -11px -3px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 2;
}

#tripode {
  width: 22px;
  height: 86px;
  background-image: url(../../../../assets/images/tripode2.png);
  background-size: 22px 86px;
  position: absolute;
  bottom: 10px;
  left: calc(100% - 12px);
  z-index: 1;
}

#suelo {
  background: url(../../../../assets/images/suelo.png) repeat-x 0px 0px;

  width: 100%;
  height: 107px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tripode1-animation {
  animation: move 2s linear infinite;

  @media screen and (max-width: 600px) {
    animation: move 1.25s linear;
    width: 8px;
  }
}

.suelo-animation {
  animation: suelo-move 2s linear infinite;

  @media screen and (max-width: 600px) {
    animation: suelo-move 1.25s linear infinite;
  }
}

.igor-running {
  animation: run 0.25s steps(2) infinite;
}

.jump {
  animation: jump 0.5s linear;
  background: url(../../../../assets/images/igor-frames.png) repeat-x -81px -3px;
}
.ko {
  background: url(../../../../assets/images/ko.png);
  width: 84px;
  height: 49px;
}
.pause {
  animation-play-state: paused !important;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 70px;
  }
  40% {
    bottom: 85px;
  }
  50% {
    bottom: 95px;
  }
  60% {
    bottom: 85x;
  }
  70% {
    bottom: 70px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes move {
  0% {
    left: calc(100% - 12px);
  }
  100% {
    left: 0px;
  }
}

@keyframes suelo-move {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes run {
  from {
    background-position-x: -11px;
  }
  to {
    background-position-x: 172%;
  }
}
