.project-info {
  display: flex;
  flex-direction: column;
}

.project-info .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.6rem;
  border-top: 1px solid var(--light);
}
.project-info ul {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.project-info ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.8rem;
}

.col-right {
  width: 75%;
  text-align: left;
}

.imdb {
  text-align: right;
}
